In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [39]:
df = pd.DataFrame(columns=['Date', 'Downy Mildew', 'Powdery Mildew', 'Anthracnose', 'Others'])

In [40]:
start = '4/4/2024'
start_date = datetime.strptime(start, '%d/%m/%Y')
for i in range(300):
    df.loc[i] = [start_date.strftime('%d %B %Y'), '', '', '', '']

    start_date -= timedelta(days=7)

In [41]:
df

               Date Downy Mildew Powdery Mildew Anthracnose Others
0     04 April 2024
1     28 March 2024
2     21 March 2024
3     14 March 2024
4     07 March 2024
..              ...          ...            ...         ...    ...
295  09 August 2018
296  02 August 2018
297    26 July 2018
298    19 July 2018
299    12 July 2018

[300 rows x 5 columns]

In [42]:
df.to_csv('disease_data.csv', index=False)

Weather API code

In [2]:
import requests
import datetime

def get_weather(date_str, api_key, location):
  """Fetches weather data for a given location and date.

  Args:
      date_str: String in the format "DD Month YYYY".
      api_key: Your OpenWeatherMap API key.
      location: The location for which to get the weather.

  Returns:
      A dictionary containing weather information or None if an error occurs.
  """

  try:
    # Parse the date string
    date_obj = datetime.datetime.strptime(date_str, "%d %B %Y")

    # Convert date to YYYY-MM-DD format
    formatted_date = date_obj.strftime("%Y-%m-%d")

    # Build the API request URL
    url = f"https://api.openweathermap.org/data/2.5/weather?q={location}&appid={api_key}&dt={formatted_date}"

    # Make the API request
    response = requests.get(url)
    response.raise_for_status()  # Raise an exception for non-200 status codes

    # Parse the JSON response
    data = response.json()
    return data

  except (requests.exceptions.RequestException, ValueError) as e:
    print(f"An error occurred while fetching weather data: {e}")
    return None

# Example usage (replace with your API key)
api_key = "7a17c4f953f8c9e4e8701d84b9264f00"
date_str = "14 July 2023"

weather_data = get_weather(date_str, api_key, "Sangli")

if weather_data:
  print("Weather data:")
  print(weather_data)
else:
  print("Failed to retrieve weather data.")

Weather data:
{'coord': {'lon': 74.5642, 'lat': 16.8544}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 299.75, 'feels_like': 299.75, 'temp_min': 299.75, 'temp_max': 299.75, 'pressure': 1010, 'humidity': 40, 'sea_level': 1010, 'grnd_level': 949}, 'visibility': 10000, 'wind': {'speed': 3.12, 'deg': 249, 'gust': 4.1}, 'clouds': {'all': 6}, 'dt': 1713041513, 'sys': {'country': 'IN', 'sunrise': 1713055598, 'sunset': 1713100614}, 'timezone': 19800, 'id': 1257416, 'name': 'Sangli', 'cod': 200}

In [12]:
from datetime import datetime, timedelta

In [2]:
start_date = "04 April 2023"

In [14]:
sdate = datetime.strptime(start_date, "%d %B %Y")

In [15]:
sdate.day

4

In [16]:
sdate.month

4

In [17]:
sdate.year

2023

In [18]:
sdate += timedelta(days=4)

In [19]:
sdate.strftime("%d %B %Y")

'08 April 2023'