In [38]:
import pandas as pd
from datetime import datetime, timedelta

In [39]:
df = pd.DataFrame(columns=['Date', 'Downy Mildew', 'Powdery Mildew', 'Anthracnose', 'Others'])

In [40]:
start = '4/4/2024'
start_date = datetime.strptime(start, '%d/%m/%Y')
for i in range(300):
    df.loc[i] = [start_date.strftime('%d %B %Y'), '', '', '', '']

    start_date -= timedelta(days=7)

In [41]:
df

               Date Downy Mildew Powdery Mildew Anthracnose Others
0     04 April 2024
1     28 March 2024
2     21 March 2024
3     14 March 2024
4     07 March 2024
..              ...          ...            ...         ...    ...
295  09 August 2018
296  02 August 2018
297    26 July 2018
298    19 July 2018
299    12 July 2018

[300 rows x 5 columns]

In [42]:
df.to_csv('disease_data.csv', index=False)